.cookie {
	border-radius: 50%;
}


.centeredInfo {
	text-align: center;
}

.col-md-3{
    text-align:center;
}

.Heading {
	position: relative;
	text-align: center;
	height:400px;
	background-image: url(".img/milkbg.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}   

.subHeading, h5 {
	font-weight: bold;
	font-size: 200%;
}

.subHeading {
	position: absolute;
	margin: auto;
	opacity: 0.6;
	color: white;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: black;
	z-index: 100;
}

.contactInfo {
	background-color: #2cb5f9;
	font-size: 24px;
	color: white;
}

.contactInfo h4 {
	font-weight: bolder;
	font-size: 36px;
}