.cookie {
	border-radius: 50%;
}


.centeredInfo {
	text-align: center;
}

.col-md-3{
    text-align:center;
}

.heading {
	position: relative;
	text-align: center;
	margin: auto;
}   

.heading, img {
	width:100%;
}

.subHeading, h5 {
	font-weight: bold;
	font-size: 200%;
}

h5 {
	font-weight: bolder;
	font-size: 275%;
}

.subHeading {
	position: absolute;
	margin: auto;
	opacity: 0.6;
	color: white;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: black;
	z-index: 100;
	height: 25%;
}
